.list-headers-1 {
  @include list-item();
  @include list-header();
  grid-template-columns: 1fr 20px;
}

.dynamic-row-1 {
  @include list-item();
  @include data-item();
  grid-template-columns: 1fr 20px;
}

.list-headers-2 {
  @include list-item();
  @include list-header();
  grid-template-columns: 20px 1fr 20px;
}

.dynamic-row-2 {
  @include list-item();
  @include data-item();
  grid-template-columns: 20px 1fr 20px;
}

.list-headers-5 {
  @include list-item();
  @include list-header();
  grid-template-columns: 20px 20% 20% 20% 20%;
}

.dynamic-row-5 {
  @include list-item();
  grid-template-columns: 20px 20% 20% 20% 20% 20px;
}

.list-headers-6 {
  @include list-item();
  @include list-header();
  grid-template-columns: 20px 20% 20% 20% 20px;
}

.dynamic-row-6 {
  @include list-item();
  grid-template-columns: 20px 20% 20% 20% 20% 20px;
}

.list-headers-7 {
  @include list-item();
  @include list-header();
  grid-template-columns: 20px 15% 15% 15% 15% 15% 15%;
}

.dynamic-row-7 {
  @include list-item();
  @include data-item();
  grid-template-columns: 20px 15% 15% 15% 15% 15% 15%;
}

.list-headers-8 {
  @include list-item();
  @include list-header();
  grid-template-columns: 20px 14% 14% 14% 14% 14% 14% 40px;
}

.dynamic-row-8 {
  @include list-item();
  @include data-item();
  grid-template-columns: 20px 14% 14% 14% 14% 14% 14% 40px;
}
